@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/defstudio/filament-searchable-input/resources/**/*.blade.php';

.fi-width-7xl{
    max-width: 88rem !important;
}

.text-sm {
    font-size: 0.8125rem !important; /* 13px */
    line-height: 1.25rem !important; /* 20px */
}

label[for="form.products"] {
    display: none !important;
}

.product-section .fi-section-content {
    gap: 1px !important;
}

.def-fo-searchable-input-dropdown-list-item:hover {
    background-color: #2dd4bf !important;
    border-left: 2px solid rgb(59 130 246) !important;

}

.it-table-repeater.products-table tbody tr td:first-child {
    display: none !important;
}

.it-table-repeater-header{
    display: none !important;
}

.it-table-repeater:where(.dark,.dark *) {
    background-color: transparent !important;
}

/* Chart height constraints */
.fi-wc-chart {
    max-height: 350px !important;
}

.fi-wc-chart canvas {
    max-height: 350px !important;
}

.fi-wi-chart .fi-wi-chart-canvas-ctn:not(.fi-wi-chart-canvas-ctn-no-aspect-ratio)[data-chart-type=doughnut],.fi-wi-chart .fi-wi-chart-canvas-ctn:not(.fi-wi-chart-canvas-ctn-no-aspect-ratio)[data-chart-type=pie],.fi-wi-chart .fi-wi-chart-canvas-ctn:not(.fi-wi-chart-canvas-ctn-no-aspect-ratio)[data-chart-type=polarArea],.fi-wi-chart .fi-wi-chart-canvas-ctn:not(.fi-wi-chart-canvas-ctn-no-aspect-ratio)[data-chart-type=radar] {
    aspect-ratio:1.8 !important;
}

/*div.it-table-repeater.payments-table div.px-4 table thead tr th:nth-child(1),*/
/*div.it-table-repeater.products-table div.px-4 table thead tr th:nth-child(2),*/
/*div.it-table-repeater.expenses-table div.px-4 table thead tr th:nth-child(3),*/
/*div.it-table-repeater.invoices-table div.px-4 table thead tr th:nth-child(4){*/
/*    width: 23% !important;*/
/*}*/

/*div.it-table-repeater.payments-table div.px-4 table thead tr th:nth-child(5){*/
/*    width: 5% !important;*/
/*}*/


